:root {
  --primary-accent: #39a4f2;
  --main-dark: #141517;
  --main-light: #f3f3f3;
  --input-color: rgba(239, 239, 239, 0.5);
  --form-background: rgba(255, 255, 255, 0.05);
}

.bg-dark-cast {
  background: var(--main-dark);
}
.bg-primary-cast {
  background: var(--primary-accent);
}
h1 {
  font-family: "Space Grotesk";
  font-size: 68px !important;
}
h2 {
  color: #404345;
  font-family: "Space Grotesk";
  font-size: 42px;
}
.secundary-text {
  font-family: "Space Grotesk";
  font-size: 24px !important;
}
.border-bn {
  border-radius: 0px 0px 48px 48px;
  padding-bottom: 100px;
}

/* NAV STARTS */
nav {
  border-radius: 10px;
  background: rgba(20, 21, 23, 0.8);
  backdrop-filter: blur(8px);

  padding: 8px !important;
  padding-top: 22px !important;
  gap: 8px;
  font-family: Poppins;
  font-size: 18px;
}
nav > * {
  padding: 4px;
  color: white;
}
nav a {
  color: white !important;
  padding: 6px 24px !important;
  border-radius: 32px;
}
nav > .left {
  border-radius: 4px;
  outline: 2px solid rgba(255, 255, 255, 0.05);
  outline-offset: -2px;
}
nav > .center {
  justify-content: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
}
nav > .right {
  justify-content: right;
  border-radius: 4px;
  outline: 2px solid rgba(255, 255, 255, 0.05);
  outline-offset: -2px;
}
/* NAV ENDS */

/* MAIN STARTS */
.main {
  color: white;
  margin-top: 239px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.main * {
  text-align: center;
}
.button-see-rent {
  background: none !important;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  padding: 16px 36px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.button-see-rent p {
  margin: 0;
  font-size: 24px;
}
.button-see-rent:hover {
  border-color: var(--primary-accent);
}
/* MAIN ENDS */

/* FIND1 STARTS*/
.choose {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.radio-b {
  margin-top: 157px;
  padding-left: 65px;
  display: flex;
  align-items: center;
  gap: 8px;
  align-items: flex-start;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.radio-b label {
  font-family: Poppins;
  font-weight: 300;
  background: none;
  padding: 8px 16px;

  border-radius: 20px !important;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.radio-b > .active {
  background: var(--primary-accent);
  border: 0px;
}
/* FIND 1 ENDS */

.find {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* FIND 2 STARTS */
.loc-date-select-container {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 67px; /* inner border-radius (59px) + self padding (8px) */
  padding: 8px;
}
.loc-date-select {
  display: flex;
  align-items: stretch;
  padding: 16px;
  gap: 9px;

  border-radius: 59px;
  background: rgba(255, 255, 255, 0.05);
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}
.loc-date-select div {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 17px;
}
.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  /* dark backgrounds force
  firefox to run select 
  options in dark mode */
  background: #202123;
  border: none !important;
  color: var(--input-color);
}
.form-select option {
  background-color: var(--form-background);
  color: white;
}
.loc-date-select input {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  text-decoration: none;
  color: var(--input-color);
}
input {
  font-family: "Roboto", sans-serif;
  display: block;
  border: none;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  line-height: 1.5rem;
  padding: 0;
  font-size: 1rem;
  color: rgba(174, 174, 174, 0.5);
  width: 100%;
  margin-top: 0.5rem;
}
input:focus {
  outline: none;
}
.find-button {
  background: none;
  border: none;
}
.find-button:hover {
  background: none;
}
.form-select,
#starts,
#ends {
  padding: 0;
  margin: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
  /* width: 100%; */
}

/* SECTION 2 STARTS (CARDS) */
.section-2 {
  margin-top: 86px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
