:root {
  --primary-accent: #39a4f2;
  --main-dark: #141517;
  --main-light: #f3f3f3;
}

.head {
  /* background: var(--main-dark); */
}

/* NAV STARTS */
nav {
  border-radius: 10px;
  background: rgba(20, 21, 23, 0.8);
  backdrop-filter: blur(8px);

  padding: 8px !important;
  gap: 8px;
  font-family: Poppins;
  font-size: 18px;
}
nav > * {
  padding: 4px;
  color: white;
}
nav a {
  color: white !important;
  padding: 6px 24px !important;
  border-radius: 32px;
}
nav > .left {
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.05);
}
nav > .center {
  justify-content: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
}
nav > .right {
  justify-content: right;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.05);
}

#sign-up {
  background: var(--primary-accent);
}
/* NAV ENDS */
