:root {
  --primary-accent: #39a4f2;
  --main-dark: #141517;
  --main-light: #f3f3f3;
  --input-color: rgba(239, 239, 239, 0.5);
  --form-background: rgba(255, 255, 255, 0.05);
}
.bg-dark-cast {
  background: var(--main-dark);
}
.bg-primary-cast {
  background: var(--primary-accent);
}
h1 {
  font-family: "Space Grotesk";
  font-size: 4.25rem !important;
}
h2 {
  color: #404345;
  font-family: "Space Grotesk";
  font-size: 2.625rem;
}
h3 {
  font-family: Poppins;
  font-size: 3rem;
  color: #404345;
  margin: 0;
}
.secundary-text {
  font-family: "Space Grotesk";
  font-size: 1.5rem !important;
}
.border-bn {
  border-radius: 0rem 0rem 3rem 3rem;
  padding-bottom: 6.37rem;
}
.btn-primary-cast {
  background: var(--primary-accent) !important;
  border-radius: 0.625rem !important;

  padding: 0.375rem 1.5rem;
}
.btn-primary-cast:hover {
  filter: brightness(86%);
  background: none;
}
.btn-primary-cast > * {
  color: #fff;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 1.125rem;
}

/* CHOOSE STARTS*/
.choose {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.radio-b {
  margin-top: 8.65rem;
  padding-left: 4.06rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-items: flex-start;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.radio-b label {
  font-family: Poppins;
  font-weight: 300;
  background: none;
  padding: 0.5rem 1rem;

  border-radius: 1.25rem !important;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.radio-b .active {
  background: var(--primary-accent) !important;
  border: 0rem;
}

.find {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* CHOOSE ENDS */

/* NAV STARTS */
.profile {
  display: none;
}

nav {
  border-radius: 0.625rem;
  background: var(--main-dark);

  padding: 0.5rem !important;
  padding-top: 1.35rem !important;
  gap: 0.625rem;
  padding: 0.5rem;
  font-family: Poppins;
  font-size: 1.125rem;
}
nav div {
  padding: 0.25rem;
  color: white;
  border-radius: 0.25rem;
}
nav a {
  color: white !important;
  padding: 0.375rem 1.5rem !important;
  border-radius: 32px;
}
nav > .left {
  outline: 2px solid rgba(255, 255, 255, 0.05);
  outline-offset: -2px;
}
nav > .center {
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
}
nav > .right {
  justify-content: right;
  outline: 2px solid rgba(255, 255, 255, 0.05);
  outline-offset: -2px;
}
/* NAV ENDS */

/* FOOTER STARTS */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b7b7b7;
  padding-top: 4.81rem;
  gap: 3rem;
}
footer div {
  display: flex;
  gap: 3.5rem;
}
.links-footer * {
  margin: 0;
  align-items: center;
}
.links-imgs {
  display: flex;
  gap: 1.06rem;
}
/* FOOTER ENDS */
